div {
    display: flex;
    margin: 20px;
}

mat-card {
    margin: 20px;
}

button {
    font-size: large;
    margin: 20px 0;
}

mat-icon {
    height: auto;
    width: auto;
    align-self: center;
}

.listName {
    margin-left: 600px;
}

.data {
    flex-direction: column;
}

@media screen and (max-width: 1350px) {
	div {
    flex-direction: column;
  }
  .info mat-icon {
      padding-top: 20px;
  }

  .listName {
      margin-left: 0;
  }
}